<?xml version="1.0" encoding="UTF-8" ?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" >

    <link name="imu_link">
        <visual>
            <geometry>
                <box size="0.05 0.05 0.05"/>
            </geometry>
            <material name="dark_gray" />
        </visual>
        <collision>
            <geometry>
                <box size="0.05 0.05 0.05"/>
            </geometry>
        </collision>
        <xacro:box_inertial mass="0.01" size="0.05 0.05 0.05" origin_xyz="0 0 0" origin_rpy="0 0 0"/>
    </link>

    <joint name="base_imu_joint" type="fixed">
        <parent link="base_link"/>
        <child link="imu_link"/>
        <origin xyz="0 0 0" rpy="0 0 0"/>
    </joint>

    <xacro:if value="$(arg is_gz)">
        <gazebo>
            <plugin name="gz::sim::systems::Imu" filename="gz-sim-imu-system" />
        </gazebo>
    </xacro:if>

    <xacro:unless value="$(arg is_gz)">
        <gazebo>
            <plugin name="ignition::gazebo::systems::Imu" filename="ignition-gazebo-imu-system" />
        </gazebo>
    </xacro:unless>
    

    <gazebo reference="imu_link">
        <sensor name="imu" type="imu">
            <imu>
                <angular_velocity>
                    <x>
                        <noise type="gaussian">
                            <mean>0.0</mean>
                            <stddev>2e-4</stddev>
                        </noise>
                    </x>
                    <y>
                        <noise type="gaussian">
                            <mean>0.0</mean>
                            <stddev>2e-4</stddev>
                        </noise>
                    </y>
                    <z>
                        <noise type="gaussian">
                            <mean>0.0</mean>
                            <stddev>2e-4</stddev>
                        </noise>
                    </z>
                </angular_velocity>
                <linear_acceleration>
                    <x>
                        <noise type="gaussian">
                            <mean>0.0</mean>
                            <stddev>2e-4</stddev>
                        </noise>
                    </x>
                    <y>
                        <noise type="gaussian">
                            <mean>0.0</mean>
                            <stddev>2e-4</stddev>
                        </noise>
                    </y>
                    <z>
                        <noise type="gaussian">
                            <mean>0.0</mean>
                            <stddev>2e-4</stddev>
                        </noise>
                    </z>
                </linear_acceleration>
            </imu>
            <always_on>1</always_on>
            <initialOrientationAsReference>false</initialOrientationAsReference>
            <gz_frame_id>imu_link</gz_frame_id>
            <updateRate>100</updateRate>
            <visualize>true</visualize>
            <topic>imu/data_raw</topic>
      </sensor>
    </gazebo>
</robot>